.card{
    height: 180px;
    background-position: 50%;
    width: 350px;
    border-radius: 4px;
    position: relative;
    margin: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    color: #fff;
}

.nameCity {
    color: white;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: .3px;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    top: 15px;
    left: 20px;
    font-family: MuseoSans,sans-serif;
}
.body-home{
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
    padding: 10px;
}
