.nav a:hover{
    text-decoration: none;
}
.nav a{
    color: rgb(90, 88, 88);
    font-weight: 600;
    font-size: 14px;
    margin-right:70px ;
    display: flex;
    align-items:center;
}
.nav{
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.bd{
    display: flex;
    justify-content: center;
}

.bd{
    background-color: rgb(246, 246, 246);
    
    
}

.nav img{
    height: 20px;
    width: 20px;
    padding-right: 5px;
}
@media screen and (max-width:800px) {
    .bd {
      height: 70px; /* The width is 100%, when the viewport is 800px or smaller */
    }}

